APP_TITLE=Наименование проекта
DESCRIPTION=Описание проекта
DATABASE_URL=путь к базе данных
SECRET=секретное слово для гернерации токенов
FIRST_SUPERUSER_EMAIL=email почто для автосоздания суперпользователя
FIRST_SUPERUSER_PASSWORD=пароль для автосоздания суперпользователя
YANDEX_DISK_TOKEN=Токен для работы с ЯндексДиск